
.compose-session {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* instead of 90 because graph causes overflow */
    background: rgb(55, 55, 55);
    /* flex-wrap: wrap; */
    overflow: scroll;
}
.compose-session .recharts-wrapper {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.compose-session .recharts-surface {
    width: 300px;
    height: 300px;
}
.compose-session > h3 {
    color: white;
}
.compose-session h4 {
    color: white;
}
.compose-session .type {
    display: flex;
    color: white;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-top: 10px;
}
.compose-session .type h3 {
    margin: 0;
}
.compose-session .type button {
    color: black;
    height: 30px;
    width: 81px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.compose-session .switch-button:hover {
    color: white;
    background: black;
}


.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.options tr td {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}
.options .boulder-grades td {
    background: rgb(136,132,216);
}
.options .rope-grades td {
    background: rgb(108, 208, 157);
}
.options .sport-grades td {
    background: #83a6ed;
}

.options tr td:hover {
    opacity: .5;
}
.session {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.session li {
    background: rgb(255, 228, 22);
    border-radius: 25%;
    width: 37px;
    text-align: center;
    cursor: pointer;
}
.submit-session-button {
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    width: 123px;
    margin: 2px;
    height:30px;
}
.submit-session-button:hover {
    background: black;
    color: white;
}
.remove-button {
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    margin: 2px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

}
.remove-button:hover {
    background: black;
    color: white;
}


.compose-boulder-container {
    display: flex;
    justify-content: center;
}
.compose-boulder-form {
    width: 30%;
}
.compose-boulder {
    display: flex;
    flex-direction: column;
}
.switch-button {
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    width: 100px;
}
button:focus {
    outline: none;
}
.compose-session .controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
