.session-chart {
    height: 100px;
}
.current-type {
    font-size: 32px;
    font-weight: 450;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.profile-controls {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}