.training-guide {
    /* background: rgb(15,15,15); */
    /* color: white; */
    overflow-y: scroll;
    height: 100%;
}
.training-guide > div {
    margin: 0 10px;
}
.training-guide .content {
    height: 35px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* .training-guide .content:hover {
} */
.training-guide .links > button {
    margin: 2px;
}

.training-guide .links div:hover{
    cursor: pointer;
    /* height: 35px;
    width: 115px; */
    background: white;
    overflow: visible;
}
.training-guide .workout-type {
    /* -webkit-text-stroke: 1px black; */
}
.training-guide .links div {
    /* text-transform: uppercase;
    font-weight: 300; */
}
/* .training-guide button:hover {
    background: white;
} */
.training-guide .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* COLORS = ['', '', '', '#', '#', '#', '#']; */

.training-guide .color0 {
    background: #8884d8;
}
.training-guide .color1 {
    background: #83a6ed;
}
.training-guide .color2 {
    background: #8dd1e1;
}
.training-guide .color3 {
    background: #82ca9d;
}
.training-guide .color4 {
    background: #a4de6c;
}
.training-guide .color5 {
    background: #d0ed57;
}
.training-guide .color6 {
    background: #ffc658;
}

.training-guide .title {
}

.training-guide .subtitle {
    /* color: cyan; */
    color: black;
}

.training-guide ul {
    list-style: none;
}
.training-guide ul li {
    margin: 5px;
}
.training-guide .stars {
    /* color: yellow; */
    color: black;
    font-size: 14px;
}

.training-guide .fa-child,
.training-guide .fa-dumbbell,
.training-guide .fa-bullseye {
    margin-right: 15px;
}

.intro-paragraph {
    border: 2px solid gray;
    padding: 5px;
    border-radius: 8px;
}